body {
  font-family: Arial;
  text-align: center;
  background-color: #f4f4f4;
}

nav {
  margin: 20px;
}

button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

input {
  padding: 5px;
}